{% extends 'base.html' %}


{% block title %}
    Main
{% endblock %}

{% block content %}
    <br>
    <h2>Описание</h2>

    <form action="">
    <div>
        <p>
            Приложение написано исключительно в целях получения опыта работы с CBV, и
            представляет собой формы для получения отзыва от условного клиента с
            последующим сохранением данных в БД, а также формы для загрузки клиентом
            файлов с сохранением их в отдельную директорию и указанием на них ссылок в БД.
        </p>
        <p>
            На отдельных страницах формируются таблицы со списком всех отзывов и отображением
            загруженных пользователем файлов. Каждый отзыв можно изменить или удалить. А также -
            получить детальную информацию по каждому отзыву в отдельном окне.
        </p>
        <p>
            Страницы:
            <ul>
                <li>
                    <a href="addfeedback">Форма для отправки отзыва</a>
                </li>
                <li>
                    <a href="feedback/list">Список всех отзывов</a>
                </li>
                <li>
                    <a href="feedback/load_image">Форма для отправки файла</a>
                </li>
                <li>
                    <a href="feedback/list_image">Список загруженных файлов</a>
                </li>
            </ul>
        </p>
    </div>
    </form>

{% endblock %}